nav.navbar.navbar-expand-lg.navbar-primary.px-4
  a.navbar-brand(href='/') MarketLaps
  button.navbar-toggler(type='button' data-toggle='collapse')
    span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav.ml-auto.p-2
      a.nav-item.nav-link(href='#ordenes') Ordenes
      a.nav-item.nav-link(href='comprar') Comprar
      a.nav-item.nav-link(href='#nosotros') Nosotros
