nav.navbar.navbar-expand-lg.navbar-primary
  a.navbar-brand(href='/api/productos') MarketLaps
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav.ml-auto.p-2
      a.nav-item.nav-link(href='/api/productos') Productos
      a.nav-item.nav-link(href='/api/clientes') Clientes
      a.nav-item.nav-link(href='/api/compras') Compras
      a.nav-item.nav-link(href='/api/logout') Salir
