<!DOCTYPE html>
html(lang="es")
    head
        include ../includes/general/head
    body()
        include ../includes/general/navbar
        block content
        include ../includes/general/footer